USE [master]
GO
/****** Object:  Database [target]    Script Date: 8/6/2022 7:52:43 PM ******/
CREATE DATABASE [target]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'target', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\target.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'target_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\target_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [target].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [target]
GO
/****** Object:  User [api]    Script Date: 8/6/2022 7:52:43 PM ******/
CREATE USER [api] FOR LOGIN [api] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [api]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [api]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [api]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [api]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [api]
GO
ALTER ROLE [db_datareader] ADD MEMBER [api]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [api]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [api]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [api]
GO
/****** Object:  Table [dbo].[Hero]    Script Date: 8/6/2022 7:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hero](
	[id_hero] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[realName] [varchar](50) NULL,
	[universe] [varchar](6) NULL,
 CONSTRAINT [PK_hero] PRIMARY KEY CLUSTERED 
(
	[id_hero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hero] ON 

INSERT [dbo].[Hero] ([id_hero], [name], [realName], [universe]) VALUES (1, N'Batman', N'Bruce Waynea', N'DC')
INSERT [dbo].[Hero] ([id_hero], [name], [realName], [universe]) VALUES (2, N'superman', N'Clark Kent', N'DC')
SET IDENTITY_INSERT [dbo].[Hero] OFF
GO
USE [master]
GO
